

#blackjackTitle{
    text-align: center;
    margin: 5px;
    font-size: 35px;
}

body {
    background-color: #36454F;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Fredoka', sans-serif;
    display: block;
    margin: auto;
    text-align: center;
    
}



.overlay {
    border-radius: 600px;
    background-color: rgba(53, 101, 77, .8);
    padding-top: 10px;
    padding-bottom: 30px;
    width: 900px;
    height: auto;
}

.button{
    background-color: #D3D3D3;
    border-radius: 5px;
    padding: 3px 10px;
    font-size: 14px;
    margin-bottom: 5px;
    font-family: 'Fredoka', sans-serif;
    font-weight: bold;
}

#modal {
    font-size: 20px;
}



#newgame-btn, #hit-d-btn, #stand-d-btn, #hit-p-btn, #stand-p-btn {
    background-color: #D3D3D3;
    border-radius: 5px;
    padding: 3px 10px;
    font-family: 'Fredoka', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

#newgame-btn{
    margin-bottom: 5px;
}

#welcome{
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    padding: 0;
    color: #d3af37;
}


#dealer, #player {
    font-size: 30px;
}